<script>webtoon_id = 1</script>
<% webtoon_id = 1 %>

<!-- 장르, 플랫폼 등 필터링 -->
<link rel="stylesheet" type="text/css" href="webtoon.css">
<form action="/finder">
    
<div class="container1">
  
<div id="f1">
    <h3> 작품 찾기 </h3>
    
    <div id="row1">
        <div class="row">
            
            <div class="col-4">  
                <div class="items">
                    <p class="i1">장르</p>
                    <ul>
                        <li><input type="checkbox" name="genre[]" value="판타지" /> 판타지 </li>
                        <li><input type="checkbox" name="genre[]" value="액션" /> 액션 </li>
                        <li><input type="checkbox" name="genre[]" value="일상" /> 일상  </li>
                        <li><input type="checkbox" name="genre[]" value="개그" /> 개그  </li>
                        <li><input type="checkbox" name="genre[]" value="드라마" /> 드라마 </li>
                    </ul>
                </div>
            </div>
                
            <div class="col-4">    
                <div class="items">
                    <p class="i1">플랫폼</p>
                    <ul>
                        <li><input type="checkbox" name="platform[]" value="네이버" /> 네이버 </li>
                        <li><input type="checkbox" name="platform[]" value="다음" /> 다음</li>
                    </ul>
                </div>
            </div>
    
            <div class="col-4">
                <div class="items">
                    <p class="i1">태그</p>
                    <ul>
                        <li><input type="checkbox" name="tag[]" value="먼치킨" /> 먼치킨 </li>
                        <li><input type="checkbox" name="tag[]" value="동양풍" /> 동양풍</li>
                        <li><input type="checkbox" name="tag[]" value="멘붕" /> 멘붕 </li>
                        <li><input type="checkbox" name="tag[]" value="가족" /> 가족</li>
                        <li><input type="checkbox" name="tag[]" value="따뜻" /> 따뜻</li>
                        <li><input type="checkbox" name="tag[]" value="잔인" /> 잔인 </li>
                        <li><input type="checkbox" name="tag[]" value="패션" /> 패션</li>
                        <li><input type="checkbox" name="tag[]" value="우주" /> 우주</li>
                        <li><input type="checkbox" name="tag[]" value="연예인" /> 연예인</li> 
                        <li><input type="checkbox" name="tag[]" value="주체적 여성" /> 주체적 여성</li>  
                        <li><input type="checkbox" name="tag[]" value="여장 남자" /> 여장 남자 </li>  
                        <li><input type="checkbox" name="tag[]" value="외모지상주의" /> 외모지상주의  </li>
                        <li><input type="checkbox" name="tag[]" value="무거움" /> 무거움  </li>
                        <li><input type="checkbox" name="tag[]" value="이세계" /> 이세계  </li>
                        <li><input type="checkbox" name="tag[]" value="얀데레" /> 얀데레  </li>
                        <li><input type="checkbox" name="tag[]" value="뱀파이어" /> 뱀파이어  </li>
                        <li><input type="checkbox" name="tag[]" value="회사" /> 회사  </li>
                        <li><input type="checkbox" name="tag[]" value="대학교" /> 대학교 </li>
                        <li><input type="checkbox" name="tag[]" value="범죄" /> 범좌  </li>
                        <li><input type="checkbox" name="tag[]" value="사랑과 우정사이" /> 사랑과 우정사이  </li>
                        <li>    <input type="checkbox" name="tag[]" value="소꿉친구" /> 소꿉친구  </li>
                    </ul>
                </div>
            </div>
    
            <div class="fb">
                <input type="submit" value="선택">
            </div>
    
        </div> 
    </div>

</div>
</div>
</form>

<div class="content8">
    <div class="row">
    <% @webtoons.each do |webtoon| %>
        <div class="col-3">
            <div class="finder-card">
            <script>
            $(function () {
                $("#webtoon_id" + webtoon_id++).rateYo({
                    starWidth: "40px",
                    halfStar: true,
                    onSet: function (rating, rateYoInstance) {
                        // alert("Rating is set to: " + rating);
                        window.location.href = "/webtoon/save?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>&rate="+rating;
                    }
                });
            });
            
            // Getter
            var onSet = $("#webtoon_id" + webtoon_id).rateYo("option", "onSet"); //returns the function
             
            // Setter
            $("#webtoon_id" + webtoon_id).rateYo("option", "onSet", function () {
                console.log("This is a new function");
            }); //returns a jQuery Element
            </script>
    

            <div>
    			  	<article>
    					  <img src="<%=webtoon.thumbnail %>" class="finder-main-thum" data-toggle="modal" data-target="#<%=webtoon_id%>" width="200px" height="200px">
    			  	<p class="webname"><%=webtoon.name%></p>
    			  	</article>
    			  	
    			  <div class="modal fade" id="<%=webtoon_id%>" tabindex="-1" role="dialog" aria-labelledby="StarRatingModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="StarRatingModalLabel"><div class="average_title">평균별점 <div class="averageScore">
                                        <% aver = 0 %>
                                        <% webtoon_rate = Watched.where({ :web_id => webtoon.id }).all%>
                                        <% if webtoon_rate.length != 0 %>
                                            <% webtoon_rate.each do |view| %>
                                                <% aver += view.rate %>
                                            <% end %>
                                            <%= (aver / webtoon_rate.length).round(2) %>
                                        <% else %>
                                            0.0
                                        <% end %>
                                    </div></div></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <div class="findermodal">   
                                    <img src="<%=webtoon.thumbnail%>" width="300px" height="300px">
                                    <div class="webtoon_name_modal"><%=webtoon.name%></div>
                                  </div>        
                                  <!--별점과 보고싶어요-->
                                    <div class="row">
                                            <div class="rating_friends1">
                                            <div class="col-8">
                                            <% if Watched.exists?(:user_id => current_user.id, :web_id => webtoon.id) %>
                                                <% rate = Watched.find_by(:user_id => current_user.id, :web_id => webtoon.id) %>
                                                <div id=<%= 'webtoon_id' + webtoon_id.to_s %> class="starInWatched" data-rateyo-rating='<%=rate.rate%>'> </div>
                                            <% else %>
                                                <div id=<%= 'webtoon_id' + webtoon_id.to_s %> class="starInWatched"> </div>
                                            <% end %>
                                            
                                            </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="rating_friends2">
                                                    <% if Wish.exists?(:user_id => current_user.id, :web_id => webtoon.id) %>
                                                        <a href="/webtoon/wish?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>" class="miss">
                                                        <img src="/assets/fullheart.png" width="30px" height="30px">보고싶어요</a>
                                                    <% else %> 
                                                        <a href="/webtoon/wish?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>" class="miss">
                                                        <img src="/assets/heart.png" width="30px" height="30px">보고싶어요</a>
                                                    <% end %>
                                                </div>
                                            </div>
                                    </div>
                                     <!--모달속 댓글이 나오는 부분 (card)-->
                                      <% if Comment.exists?(:webtoon_id => webtoon.id) %>
                                        <%# Comment.where({ webtoon_id: webtoon.id }).each do |comm| %>
                                        <% c = Comment.where( :webtoon_id => webtoon.id ).all%>
                                        <% c.each do |comm| %>
                                        <div class="modal-footer1">
                                        <div class="card" style="width:465px;">
                                        <div class="card-body">
                                          <!--댓글 좋아요-->
                                        <div class="f_like"><img src="assets/like_empty.png" style="width:40px; height:40px;"></div>
                                        <h5><a href="/mypage/<%=comm.user_id%>"><%= User.find(comm.user_id).email %></a></h5>
                                           <%=comm.comment %>
                                         </div>
                                    </div>
                                    </div>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
    			</div>
        
    
    <!-- 웹툰과 사용자의 연결된 관람 정보 -->
    
    
    <% webtoon_id += 1 %>
    
    </div>
    </div>
    
        <% end %>
    </div>
</div>