<div id="test">
    <!--nav와 콘텐츠 사이의 빈틈-->
    <div id=q2></div>
    <link rel="stylesheet" type="text/css" href="webtoon.css">
    
    
    <script>webtoon_id = 1</script>
    <% webtoon_id = 1 %>
    
    <% @webtoons.each do |webtoon| %>
    <script>
    
    $(function () {
        $("#webtoon_id" + webtoon_id++).rateYo({
            starWidth: "40px",
            halfStar: true,
            onSet: function (rating, rateYoInstance) {
                // alert("Rating is set to: " + rating);
                window.location.href = "/webtoon/save?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>&rate="+rating;
            }
        });
    });
    
    // Getter
    var onSet = $("#webtoon_id" + webtoon_id).rateYo("option", "onSet"); //returns the function
     
    // Setter
    $("#webtoon_id" + webtoon_id).rateYo("option", "onSet", function () {
        console.log("This is a new function");
    }); //returns a jQuery Element
           
    </script>
    
     <!--작품 카드-->
    <div class="content3">
            <div class="row">
                <!--웹툰 썸네일-->
                <div class="col-4">
                    <div id="re_position">  
                    <img src="<%= webtoon.thumbnail %>" alt="웹툰썸네일" class="representative_img_comment" width="200px" height="200px">
                    </div>  
                </div>
                
                <!--별점-->
                <div class="col-8">
                    <div class="webtoon_id1">
                        <% if Watched.exists?(:user_id => current_user.id, :web_id => webtoon.id) %>
                            <% rate = Watched.find_by(:user_id => current_user.id, :web_id => webtoon.id) %>
                            <div id=<%= 'webtoon_id' + webtoon_id.to_s %> data-rateyo-rating='<%=rate.rate%>'> </div>
                        <% else %>
                            <div id=<%= 'webtoon_id' + webtoon_id.to_s %>> </div>
                        <% end %>
                    </div>
                    
                    <!--카드내용-->
                    <div class="webtoon_comment1"><%= webtoon.name %></div>
                    <div class="comment_body">
                        <% webtoon.tags.each do |tag| %>
                        #<%= tag.name %>
                        <% end %>
                    
                    <br>
                    <br><%= webtoon.intro %>
                    
                    <div class="heart">
                        <% if Wish.exists?(:user_id => current_user.id, :web_id => webtoon.id) %>
                            <a href="/webtoon/wish?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>">
                            <img src="/assets/fullheart.png" width="30px" height="30px">보고싶어요</a>
                        <% else %>
                            <a href="/webtoon/wish?user_id=<%=current_user.id%>&web_id=<%=webtoon.id%>">
                            <img src="/assets/heart.png" width="30px" height="30px">보고싶어요</a>
                        <% end %>
                    </div>
                    </div>    
                 
                 <!--댓글창-->
                  <form action="/comment/<%=current_user.id%>&<%=webtoon.id%>">
                      <div class="form-row align-items-center">
                      <div class="col-7">
                          <input type="text" name="comment" class="form-control" placeholder="내용 입력">
                        </div>
                     
                        <div class="col-auto_my-1">
                          <button type="submit" class="btn btn-primary">댓글달기</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    <% webtoon_id += 1%>
<% end %>


    <!--footer와 콘텐츠 사이의 빈틈-->
    <div class="q3"></div>
</div>

